<h1>Edit <%= @vendor.name %></h1>

<div class="field">
  <form action='/vendor/<%=@vendor.id%>' method='POST'>
    <input type="hidden" name="_method" value="PUT">
    New name: <input type='text' name='vendor[name]' value='<%= @vendor.name %>'/>
    <input type = 'submit' value = 'submit changes'/>
  </form>
</div>
