<h1> Thank you for creating a new id, <%= @vendor.name %>. Welcome to the Vendor Landing Page! </h1>

<%= link_to "Edit Vendor", edit_vendor_path(@vendor.id) %> <!-- vendor? vendors? -->
<br>
<a href="/vendor/<%=@vendor.id%>/destroy_landing">Delete Vendor</a>

<hr>

<%= link_to "Add Product", add_product_path(@vendor.id) %>
<ul>edit products</ul>
<ul>delete a product</ul>
<ul>view all of the products</ul>
