<h2>Login</h2>

<form action="session" method "POST">
  Enter your ID: <input type='text' name='vendor[id]'/>
  <input type = 'submit' value = 'Login'/>
</form>
<!--<form method='POST'>
  Vendor name: <input name = 'id' type = 'number'/>
  <input type='submit' value='login'/>
</form> -->
