<h2>Login</h2>

<form action='/vendor/login' method 'POST'>
  Enter your ID <input type='number' name='vendor[id]'/>
  <input type = 'submit' value = 'Login'/>
</form>
<!--<form method='POST'>
  Vendor name: <input name = 'id' type = 'number'/>
  <input type='submit' value='login'/>
</form> -->
