<h2>Product Page</h2>
<h3>What product would you like to add?</h3>

<form action='/product/new_product' method='POST'>
  <input type="hidden" name="_method">
  Name <input type='text' name='product[name]'/>

  <input type = 'submit' value = 'submit changes'/>
</form>
