<h1>What product would you like to add?</h1>

<div class="field">
  <form action='/product/new_product' method='POST'>
    <input type="hidden" name="_method">
    Product name: <input type='text' name='product[name]'/>

    <input type = 'submit' value = 'submit changes'/>
  </form>
</div>
