  <h1 class = "title"><b>Welcome to FarMar!</b></h1>
  <br>
  <ul class = "main_menu">
    <li>New to FarMar? <br> <%= link_to "Register", "/vendor/new_vendor" %></li>
    <li>Have an account? <br>  <%= link_to "Sign in", "/home/login" %></li>
  </ul>
