<h1 class><b>Register as a new vendor</b></h1>

<div class = "field">
  <form action='/vendor/new_vendor' method='POST'>
    Enter your vendor name: <input type='text' name='vendor[name]' />
    <input type='submit' />
  </form>

  <script>
    <% if params[:notice].present? %>
    alert(<%= params[:notice] %>;
    <% end %>
  </script>
</div>

