<h2>Market Page</h2>
<h3>What market do you belong to?</h3>

<form action='/market/new_market' method='POST'>
  <input type="hidden" name="_method">
  Name <input type='text' name='market[name]'/>

  <input type = 'submit' value = 'submit changes'/>
</form>
