<h1>What market do you belong to?</h1>

<div class="field">
  <form action='/market/new_market' method='POST'>
    <input type="hidden" name="_method">
    Market name: <input type='text' name='market[name]'/>
    <input type = 'submit' value = 'Submit'/>
  </form>
</div>
