<h1>Edit <%= @product.name %></h1>

<div class="field">
  <form action='/product/<%=@product.id%>' method='POST'>
    <input type="hidden" name="_method" value="PUT">
    Product name: <input type='text' name='product[name]' value='<%= @product.name %>'/>
    <input type = 'submit' value = 'submit changes'/>
  </form>
</div>


